#mainContent > div{
    display: flex;
    padding: 2rem;
    overflow: scroll;
    max-height: 80vh;

}

.formContainer{
    flex-basis: 40%;
    margin: 1rem;
    overflow: scroll;
}
.viewTableContainer{
    flex-basis: 60%;
    margin: 2rem;
    overflow: scroll;
}
.viewTableLabel{
    display: flex;
}
.viewTableTitle{
    flex-basis: 40%;
}
.searchFilter{
    margin: auto;
}
.searchFilter form{
    display: flex;
}
.searchFilter form label input{
    margin: 0 0.3rem;
}
.searchFilter form div{
    margin: 0 0.3rem;
}
.selectContainer{
    display: inline-block;
}
#navbar{
    background-color: rgb(15, 15, 15);
    grid-column: 1/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 50vw 50vw;
}
#navlinkContainer{
    display: flex;
    flex-direction: row-reverse;
}
#navlinkContainer li{
    display: block;
}

.navlink {
    color: lightskyblue;
    margin: auto 2%;
    padding: 5%;
    text-decoration: none;
}
#navlinkContainer .navlink:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(15, 15, 15);
}
.navlink.active{
    background-color: mintcream;
    color: rgb(15, 15, 15);
}

.logo{
    color: lightskyblue;
    margin: auto 1rem;
    text-decoration: none;
}
.logo:hover{
    color: mintcream;
}